name: RunUnitTestCoverage

on:
  push:


jobs:
  build:

    runs-on: [self-hosted, windows]
    steps:   
    - uses: actions/checkout@v2
    - uses: FranzDiebold/github-env-vars-action@v2.7.0
    - uses: peter-evans/commit-comment@v2
      with:
        body: "[Code Coverage Report](http://devops.dominisoft.net/Coverage/${{ github.sha }}/AppCoverageReport.html)"
    - name: Run Test Scripts
      run: "RunTests.bat"
